@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .publi-cidi-compu .publi-info-compu {
        max-width: 100%;
    }
    .publi-cidi-compu .publi-img-compu {
        width: 100%;
        max-width: 500px;
        position: static !important;
    }
    .publi-cidi-compu .publi-img-compu img {
        width: 100%;
    }
}

@media (max-width: 840px) {
    .departamentos {
        width: 100%;
        padding: 20px 50px;
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
    }
    .depto-info {
        width: 100%;
    }
    .depto-datos {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .que-es-ga .que-es-logo {
        padding: 10px 0 !important;
    }
}

@media (max-width: 650px) {
    .nav-pilares {
        padding: 20px 10px;
    }
    .cards-pilares {
        gap: 5px !important;
    }
    .nav-pilares .cards-pilares .card-pilares a {
        font-size: 10px;
    }
}

@media (max-width: 540px) {
    .nav-secundario ul li a,
    .nav-secundario ul li a.li-active,
    .nav-secundario ul li a:hover {
        font-size: 14px;
    }
    .hero form .home-hero-submit {
        width: 50px;
    }
    .home-hero-submit div p {
        display: none;
    }
}
