/* Link Útiles Servicios */

.links-utiles-servicios {
    width: 100%;
    padding: 20px 50px;
}

.links-utiles-servicios h3 {
    font-size: 30px;
    font-family: var(--ff-bold);
}

.links-utiles-servicios .link {
    box-shadow: 0 4px 4px #0004;
    border-radius: 7px;
    text-align: right;
    margin: 20px 0;
}

.links-utiles-servicios .link a {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    text-align: right;
    display: block;
}

.links-utiles-servicios .link h4 {
    color: #4175B8;
    font-size: 24px;
    font-family: var(--ff-medium);
    text-align: left;
}

.links-utiles-servicios .link p {
    color: #4175B8;
    font-size: 20px;
    text-align: left;
    margin: 5px 0;
}

.links-utiles-servicios .link h5 {
    color: var(--color-1) !important;
    font-size: 20px;
}



/* Tabla de servicios / trámites */

.depto-servicios {
    width: 100%;
    padding: 20px 50px;
}

.tabla-servicios {
    width: 100%;
    overflow-x: scroll;
}

.cada-servicio {
    width: 100%;
    min-width: fit-content;
    padding: 5px 0;
    border-radius: 8px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    
    display: grid;
    grid-template-columns: minmax(125px, 1fr) 3px minmax(300px, 3fr);
}

.cada-servicio .serv-nombre {
    padding: 0 15px;
    min-height: 43px;
    text-align: center;
    text-transform: uppercase;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cada-servicio .linea-vert {
    width: 3px;
    background: #000b;
    border-radius: 4px;
}

.cada-servicio .serv-descripcion {
    min-width: 300px;
    padding: 10px 80px 10px 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 0.4s;
}

.cada-servicio .serv-descripcion div {
    width: fit-content;
}

.display-inline {
    display: inline;
}

.cada-servicio:nth-child(1) > * {
    font-family: var(--ff-bold) !important;
    cursor: auto !important;
}

.cada-servicio:nth-child(even) {
    background: #E9EAEE;
}

.cada-servicio:nth-child(odd) {
    background: #fff;
}

.cada-servicio .flecha-ver-mas {
    padding: 10px 30px;
    /* background: inherit; */
    position: absolute;
    right: 0;
    font-size: 30px;
    transform: scaleY(0.6) rotate(0deg);
    transition: 0.4s;
    user-select: none;
    visibility: hidden;
}


.cada-servicio .flecha-ver-mas.active {
    visibility: visible;
}


.cada-servicio .serv-descripcion-click {
    overflow: hidden;
    white-space: normal;
    text-overflow: clip;
}

.cada-servicio .flecha-ver-mas-click {
    transform: scaleY(0.7) rotate(-180deg);
}